---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_17DYDzF0WzU2IQJErRtelDjH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_IPehbj5k544QevYUL4nctTSF
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_17DYDzF0WzU2IQJErRtelDjH",
          "object": "event",
          "api_version": "2015-10-16",
          "created": 1449053559,
          "data": {
            "object": {
              "id": "ch_17DYDzF0WzU2IQJEsrklMa3C",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": "txn_17DYDzF0WzU2IQJEPwIbXnho",
              "captured": true,
              "created": 1449053559,
              "currency": "usd",
              "customer": "cus_7STAlPqqgr3Vv7",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_17DYDzF0WzU2IQJEr9FmhaBG",
              "livemode": false,
              "metadata": {},
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_17DYDzF0WzU2IQJEsrklMa3C/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_17DYDxF0WzU2IQJEyAMDvBW6",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7STAlPqqgr3Vv7",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2016,
                "fingerprint": "RW2p59TP9xAwhTjZ",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "statement_descriptor": null,
              "status": "succeeded"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_7STAhIyMfCv5IS",
          "type": "charge.succeeded"
        }
  recorded_at: Wed, 02 Dec 2015 19:00:51 GMT
recorded_with: VCR 2.9.3
