---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=6&card[exp_year]=2018&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_IPehbj5k544QevYUL4nctTSF
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_177nbsF0WzU2IQJEWKXg3QXg",
          "object": "token",
          "card": {
            "id": "card_177nbsF0WzU2IQJEDhotGBju",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "RW2p59TP9xAwhTjZ",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "41.141.231.112",
          "created": 1447682732,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 16 Nov 2015 14:05:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=Valid+example+charge&source=tok_177nbsF0WzU2IQJEWKXg3QXg
    headers:
      Authorization:
      - Bearer sk_test_IPehbj5k544QevYUL4nctTSF
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_177nbtF0WzU2IQJE04xhD5K8",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_177nbtF0WzU2IQJE1PGlKj54",
          "captured": true,
          "created": 1447682733,
          "currency": "usd",
          "customer": null,
          "description": "Valid example charge",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_177nbtF0WzU2IQJE04xhD5K8/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_177nbsF0WzU2IQJEDhotGBju",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "RW2p59TP9xAwhTjZ",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Mon, 16 Nov 2015 14:05:33 GMT
recorded_with: VCR 3.0.0
