---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=6&card[exp_year]=2018&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_IPehbj5k544QevYUL4nctTSF
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17DG2iF0WzU2IQJEttyHJIwB",
          "object": "token",
          "card": {
            "id": "card_17DG2iF0WzU2IQJEEOfEnDfy",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "RW2p59TP9xAwhTjZ",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "105.157.196.13",
          "created": 1448983668,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 01 Dec 2015 15:27:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: plan=monthly&source=tok_17DG2iF0WzU2IQJEttyHJIwB
    headers:
      Authorization:
      - Bearer sk_test_IPehbj5k544QevYUL4nctTSF
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7SANpBdHiC7tKl",
          "object": "customer",
          "account_balance": 0,
          "created": 1448983670,
          "currency": "usd",
          "default_source": "card_17DG2iF0WzU2IQJEEOfEnDfy",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17DG2iF0WzU2IQJEEOfEnDfy",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7SANpBdHiC7tKl",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 6,
                "exp_year": 2018,
                "fingerprint": "RW2p59TP9xAwhTjZ",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7SANpBdHiC7tKl/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7SANwcRnEQDOi6",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1451662070,
                "current_period_start": 1448983670,
                "customer": "cus_7SANpBdHiC7tKl",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "monthly",
                  "object": "plan",
                  "amount": 999,
                  "created": 1448970861,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Monthly Plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1448983670,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7SANpBdHiC7tKl/subscriptions"
          }
        }
  recorded_at: Tue, 01 Dec 2015 15:27:52 GMT
recorded_with: VCR 2.9.3
