---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=Sign+up+charge+for+alice%40example.com&source=tok_1791bgF0WzU2IQJECZybWazG
    headers:
      Authorization:
      - Bearer sk_test_IPehbj5k544QevYUL4nctTSF
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_1791bmF0WzU2IQJEgXSKnRdQ"
          }
        }
  recorded_at: Thu, 19 Nov 2015 23:14:30 GMT
recorded_with: VCR 2.9.3
